extends ../layout.pug


  

block style
  link(rel="stylesheet" href = "/style/customize.css")
block content
  .wrapper
  .bg-image
  section#form-cnt.container.form-container
    header.header
    h1#title.text-center Change Password
    if(error)
        p(style="text-align:center; margin-top:2rem; font-size:medium;").err #{message}
    form#survey-form(action = "/changePass" method = "post" enctype="multipart/form-data")
      input(type="hidden" name="_csrf" value=`${csrfToken}`)
      input(type="hidden" name="email" value=`${email}`)

      .form-group
        label#name-label(for='name') Old Password
        input#name.form-control(type='password' value=`${error ? password : ''}` name='oldPassword' placeholder='' required='')
      
      .form-group
        label#name-label(for='name') New Password
        input#name.form-control(type='password' value=`${error ? password : ''}` name='password' placeholder='' required='')
       
      .form-group
        label#price-label(for='price') Confirm Password
        input#price.form-control(type='password' value=`${error ? confirmPassword : ''}` name='confirmPassword' placeholder='' required='')
      .form-group
        button#button.btn(type = 'submit') Submit
