extends layout.pug


  

block style
  //- link(rel="stylesheet" href = "/style/customize.css")
  link(rel = "stylesheet" href = '/style/addressDetails.css')
block content
  .container.content
    .left
      p.heading Delivery Address
      each val in data
        form.address-details
          .d-flex
            //- input.radio(type = 'radio')
            p.name= val.name
            p.mobileNo= val.mobileNo
          p.address #{val.address}, #{val.city}, #{val.state}
          p.pincode= val.pincode
          button(type= 'submit' class='btn') Deliver here
      a.newAddress(href = '/addNewAddress') + Add a new address
    .product-details
      .special-heading
        h3 Product Details
      table.table-content
        tr
          td.table-left Price
          td.table-details= product.price
        tr
          td.table-left Delivery Charges
          td.table-details FREE
        tr
          td.table-left Total Payable
          td.table-details= product.price